.qrcode {
  width: 45%;
}

@media only screen and (max-width: 800px) {
  .qrcode {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.payBtn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  font-family: Trebuchet MS;
  font-size: 15px;
  font-weight: 100;
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #ffffff;
  border: solid #ffffff 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.payBtn:hover {
  background: #c7c7c7;
  border: solid #337fed 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
